*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #8E806A;
    color: #fff;
    background-color: #bfd9c8;
    background-color: #eaf1ec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f6fcf8' fill-opacity='0.64'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Patrick Hand', cursive;
    
}

.container{
    width: 93%;
    margin: auto;    
}

.container .nav-main ul li a{
    color: #417046;
    text-decoration: none;
    padding: 2px;
   text-align: center;
}

.container .nav-main ul li a:hover{
    border-bottom: 2px solid #54915b;
}

.container .nav-main .titulo-logo h1{
    font-family: 'Rubik Beastly', cursive;
    letter-spacing: 7px;
    font-size: 45px;
    font-weight: 100;
    color: #519259;
    margin-left: 12px;   
  
}

.container .nav-main ul{
    list-style: none;
    display: flex;
}

.container .nav-main ul li{
    padding: 12px;
}




/*-------------------------------------------------Navegación-----------------------------------------------*/

.nav-main{
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 30px 0 10px 0;
}

.nav-brand{
    width: 24px;
}

.titulo-logo{
    display: flex;
    align-items: center;
    text-align: center;
}

.container .nav-main .nav-menu{
    display: flex;
    justify-content: end;
}

.lupita{
    color: #519259;
}

.lupita:hover{
   color:  rgb(53, 100, 14);
   border-bottom: none;
}

hr{
    margin: 10px 0;
}

/*---------------------------------------MAIN----------------------------------------------------*/
.contendor-main{
    width: 98%;
    margin: auto;
    height: 530px;
    background: url(portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;   
}

.btn-main{
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 15px;
    padding: 10px 20px;
    background: #972020;
    border: 1px solid rgb(231, 76, 76);
    margin-top: 80px;
}

.btn-main:hover{
    opacity: .8;
}

.btn-main a{
    color: #fff;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
}

.sobre{
    margin-right: 3px;
}

/*-------------------------------------------productos-----------------------------------------------------*/
.cards{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /*espaciado interno*/
    padding: 70px 30px;
    color: #253b27;
    /*border: 1px solid #acd1b1;*/
    background: rgb(150, 32, 32);
    border-radius: 5px;
    
}

.cards div{
    border: 4px solid #fff;
    padding: 7px;
    background: #253b27;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 8px 15px #000;
    
}


.cards img{
    width: 100%;
    height: 230px;
    border-radius: 5px;   
}

.cards h3{
    font-size: 20px;
    margin: 10px 0;
    font-weight: normal;
    letter-spacing: 2px;
    
}

.cards p{
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.cards a{
    padding: 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.cards a:hover{
   opacity: 0.7;
}

main h2{
    font-size: 30px;
    font-weight: normal;
    color: #1c2b1e;
    letter-spacing: 3px;
    margin: 20px;
    text-align: center;
}

/*---------------------------------------------------BANNER UNO-------------------------------------------------------*/

.banner-uno{
    width: 100%;
    height: 350px;
    background: #0a0f0b;
    margin: 60px 0px 50px 0px;
}

.banner-uno .contenido-banner-uno{
    width: 50%;
    padding: 70px 0px 0px 30px;
    color: #fff;
    margin: auto;
    text-align: center;
}

.banner-uno .contenido-banner-uno h2{
    color: #fff;
    letter-spacing: 2px;
    font-size: 30px;
} 

.banner-uno .contenido-banner-uno p{
    margin: 10px 0px 20px 0px;
    letter-spacing: 3px;
    font-size: 20px;
}


/*---------------------------------------------------------------SUCURSALES-----------------------------------*/

/*incluir 3 iframes*/




/*--------------------------------------------------------------BANER DOS CONTACTO-----------------------------*/

.seccion-formulario{
    width: 100%;
    height: 100vh;
    background:#eaf1ec;
    margin: 60px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.seccion-formulario .form-body{
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
    padding: 60px 0px 0px 30px;
    margin: 10px;
    text-align: center;
    /*border: 2px solid red;*/
    background: #fff;
}

.seccion-formulario .form-body h3{
    color: #1c2b1e;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 24px;
} 

.form-body img{
    width: 250px;
    display: block;
    margin: 10px 0;
}

.form .campos{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 15px;
    border-radius: 2px;
    border: 1px solid blue;
    background: #fbfcfb;
    font-size: 17px;
   /* outline: none;*/ /*se utiliza para establecer el mismo grosor, estilo y/o anchura de todos los perfiles de un elemento.*/
   margin-bottom: 20px;
}


.form textarea{
   min-height: 100px;
    max-height: 200px;
    max-width: 75%;
}

/*-----------------------------------------------------------------REDES-SOCIALES--------------------------------*/

.social{
    margin: 50px;
    border: 1px solid purple;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.social .links-social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-social a{
    margin: 0 30px;
}

.links-social a i{
    font-size: 50px;
}

